<!-- Footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Footer -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                
                <img src="/image/logo-uni.png" alt="Footer Image" />
            </div>

            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>

                <a class="btn btn-outline-light btn-social mx-1" href="https://it-it.facebook.com">
                    <i class="fab fa-fw fa-facebook"></i>
                </a>

                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com">
                    <i class="fab fa-fw fa-instagram"></i>
                </a>

                <a class="btn btn-outline-light btn-social mx-1" href="https://it.linkedin.com">
                    <i class="fab fa-fw fa-linkedin"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/?lang=it">
                    <i class="fab fa-fw fa-twitter"></i>
                </a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">About Me</h4>
                <p class="lead mb-0">
                   Michele Pirro<br/>
                   Studente d'Informatica presso<br/>
                    <span class="university-text">Università degli studi di Salerno</span>
               </p>
            </div>
        </div>
    </div>
    <!-- Copyright Section-->
    <div class="copyright">
        <div class="container">
            <small>Copyright &copy; Your Website 2023</small>
        </div>
    </div>

</footer>



