@page "/"
@layout MainLayout


<!-- Masthead-->
<header class="masthead bg-primary text-black text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Bottone Chat -->
        <a class="btn-chat-home" href="/chatGPT">CHAT WITH ME</a>
        </div>
</header>


@code {

}
